body {
    text-align: center;
    color: #3a00da;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.box1 {
    border: 5px solid #000000;
    border-radius: 10px;
    height: 80px;
    width: 300px;
    margin: 40px auto;
    padding: 10px;
    background-color: #fffb00;  
    text-align: center;
    font-size: 20px;
    color: #130000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}